#item-num::-webkit-outer-spin-button,
#item-num::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

#item-num[type='number'] {
  -moz-appearance: textfield !important;
}
