/* 모든 웹킷 기반 브라우저에 대해 스피너를 다시 활성화 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button !important;
  margin: 0;
}

/* 파이어폭스에서 스피너 활성화 */
input[type='number'] {
  -moz-appearance: textfield;
}
